/* frontend/src/index.css */

/* Tailwind directives (PostCSS must be configured to handle these) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* small app defaults */
html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
